@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish&family=Poppins&family=Ubuntu&display=swap');

:root {
    --yellow: #FFE863;
    --purple: #8736AA;
}

.bg-121212 {
    background-color: #121212;
}

.bg-000 {
    background: #000;
}

.bg-f8f8f8 {
    background-color: #F8F8F8;
}

.cl-1C9B2E {
    color: #1C9B2E;
}

.cl-656565 {
    color: #656565;
}

.btn-custom {
    border: 1px solid var(--purple);
    border-radius: 6px;
    padding: 2px 16px;
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: var(--purple);
}

.greenBannertext {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;

}

.banner__title1 {
    font-size: 27.31px;
    font-weight: 600;
    padding-bottom: 15px;
}

.bg-202020 {
    background: #202020;
}

.radius-10 {
    border-radius: 10px;
}
.radius-8 {
    border-radius: 8px;
}

.banner__title2 {
    font-size: 61.85px;
    font-weight: 600;
    line-height: 39px
}
.cl-6f6f6f{
    color: #6F6F6F;
}

.banner__title3 {
    font-size: 44.67px;
    font-weight: 600;
    font-style: italic;
}

.bg-242424 {
    background-color: #242424;
}

input {
    outline: none;
}

.radius-24 {
    border-radius: 24px;
}

html, body {
    height: 100%;
}

.cl-b1b1b1 {
    color: #B1B1B1;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif !important;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.font-ub {
    font-family: Ubuntu-Bold;
}

.font-um {
    font-family: Ubuntu-Medium;
}

.font-ul {
    font-family: Ubuntu-Light;
}

.font-ur {
    font-family: Ubuntu-Regular;
}

.main_padding {
    padding-left: 120px;
    padding-right: 120px;
}

.pl-120 {
    padding-left: 120px;
}

.pr-120 {
    padding-right: 120px;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.cl-yellow {
    color: var(--yellow) !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.bg-242424 {
    background-color: #242424;
}

.bg-393B6C {
    background-color: #393B6C;
}

.bg-010101 {
    background-color: #010101;
}


.cl-purple {
    color: var(--purple);
}

.cl-yellow {
    color: var(--yellow);
}

.ttu {
    text-transform: uppercase;
}

.imgGray {
    filter: grayscale(1);
}

.togglerMenu {
    display: none;
}

.closeToggler {
    display: none;
}

.right__Section {
    margin-left: 16.66666667%;
}

#sidebarToogler {
    position: fixed;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .sidebarToogler {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.7s ease-in-out;
        z-index: +7;
        left: -90rem;
    }
    .right__Section {
        margin-left: 0%;
        padding-left: 8px !important;
    }
    .banner__title2 {
        font-size: 31.85px;
    }
    .banner__title3 {
        font-size: 22.67px;
        font-weight: 600;
    }
    .closeToggler {
        position: absolute;
        right: 8%;
        display: block;
    }

    .search__Div {
        display: none;
    }

    .sidebar_ul li {
        justify-content: start !important;
        padding-left: 15px !important;
    }

    .togglerMenu {
        display: block;
    }
    .flec {
        flex-direction: column;
    }
    .img-100{
    width: 100%;
    }
    .padding-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}